* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #404f7a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 20px 1px #000;
}

.title {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.input {
  width: 90%;
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  background-color: #404f7a;
  color: #fff;
  border: 1px solid black;
  border-radius: 12px;
}

.result {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.side {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  text-align: left;
}

.track-btn {
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: rgb(90, 108, 163);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
@media (max-width: 890px) {
  .sub-container {
    padding: 70px;
    right: 10%;
  }
  .title {
    font-size: 40px;
  }
  .input {
    width: 100%;
    height: 40px;
    font-size: 25px;
  }
  .result {
    font-size: 25px;
  }
  .track-btn {
    width: 105%;
    height: 50px;
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .sub-container {
    padding: 80px;
    right: 10%;
  }
  .title {
    font-size: 40px;
  }
  .input {
    width: 100%;
    height: 40px;
    font-size: 30px;
  }
  .result {
    font-size: 30px;
  }
  .track-btn {
    width: 100%;
    height: 60px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .sub-container {
    padding: 40px;
    right: 3%;
  }
  .title {
    font-size: 30px;
  }
  .result {
    font-size: 25px;
  }
  .track-btn {
    width: 100%;
    height: 50px;
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .sub-container {
    padding: 30px;
    right: 3%;
  }
  .input {
    width: 90%;
    height: 30px;
    font-size: 20px;
  }
  .title {
    font-size: 25px;
  }
  .result {
    font-size: 20px;
  }
  .track-btn {
    width: 90%;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 390px) {
  .sub-container {
    padding: 20px;
    right: 3px;
  }
  .title {
    font-size: 20px;
  }
  .input {
    width: 80%;
    height: 20px;
    font-size: 20px;
  }
  .result {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .sub-container {
    margin-top: 18px;
    padding: 20px;
  }
  .title {
    font-size: 18px;
  }
  .input {
    font-size: 16px;
  }
  .result {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 18px;
  }
  .input {
    font-size: 16px;
    height: 12px;
  }
  .result {
    font-size: 16px;
  }
}
